@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"); 
/* font size 300;400;500;600;700 disponible */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10 px */
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media (max-width: 450px) {
  /* html {
    font-size: 47.5%; 1rem = 10 px
  } */
}
img.huechange { filter: hue-rotate(120deg)}
.paw-loading {
  width: 200px;
  animation: rotation 2.5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
*::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #5d35b2;
}
.leaflet-container {
  width: 100%;
  height: 50vh;
}

