.warning-confirma {
    margin: 0 auto;
    padding-top: 1rem;
    font-size:xxx-large;
    color: burlywood;
    margin-bottom: -2rem;
}
.bill-confirma {
    padding-right: 1rem;
    font-size:xx-large;
}